# Java and Gradle Files
/build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE Directories
.idea/
*.iws
*.iml
*.ipr

# IntelliJ Specific
.idea/sonarlint/
.idea/sonarlint/issuestore/
out/
!**/src/main/**/out/
!**/src/test/**/out/

# STS Specific
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans Specific
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# Firebase Credentials
.firebase/

# Logs
*.log

# Temporary Files
*.bin
*.lock
*.class



# Gradle Cache and Execution History (Standard Paths)
.gradle/8.10.2/executionHistory/
.gradle/8.10.2/fileHashes/
.gradle/buildOutputCleanup/

# Ignore IDE build directories within main and test
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
/build

