
.idea/sonarlint/issuestore/0/5/05efc8b1657769a27696d478ded1e95f38737233
/.idea/sonarlint
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/resources/application-local.properties

### Following Firebase directory will store the credentials ###
### Hence, ignored to prevent from getting pushed into the repo. ###
.firebase/
*.log
.gradle/8.10.2/executionHistory/executionHistory.bin
.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/8.10.2/fileHashes/fileHashes.bin
.gradle/8.10.2/fileHashes/fileHashes.lock
.gradle/8.10.2/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/cache.properties
